.container{
  text-align: center;
  width: 80%;
  margin:30px auto;

}

.dice{
  
}
body{

  font-family: 'Cinzel', serif;

}
h1{
  font-size: 4rem;
  text-shadow: 5px black;
  font-family: 'Shadows Into Light', cursive;
}
img{
  width: 80%;
}

#back{
  text-align: center;
  font-size: 28px;
}
.body1{
  background-image: url(..//images/damn.jpg);

}
.container{
  background-image: url(..//images/waah.jpeg);
  font-size:26px;
}
.body2{
  background-image: url(..//images/damn.jpg);
}
body{
  background-image: url(..//images/damn.jpg);
}
#refresh{

  font-size: 40px;
  color: #b30000;

  top: 50%;
  left: 50%;
}
